.app {
  height: 100vh;
}

.bg-cover {
  background-color: #081c15;
}
.bg-5 {
  background-color: #d8f3dc;
}
.bg-2 {
  background-color: #40916c;
}
.bg-1 {
  background-color: #2d6a4f;
}

.blog-bg-image {
  top: 10px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-title {
  font-size: clamp(1.2rem, 1rem + 3.5vw, 4rem);
  font-weight: 700;
}

.blog-scale-bg {
  transform: translate(0px, -50vh);
}

.blog-paper {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  min-height: 500px;
  text-indent: 50px;
  text-transform: title;
  font-family: "Sans-Serif";
  white-space: pre-line;

  &::first-letter {
    text-transform: capitalize;
  }
}
